#right_sidebar
  %p
    I use, recommend and prefer the best web browser in the world:
  %a{href:"http://getfirefox.com", title:"Get Firefox!"}
    %img{src:"images/firefox.jpg", alt:"Firefox"}
  %p
    I draw with a Wacom Bamboo tablet and I use
    %a{href: "http://inkscape.org", title: "Inkscape"}
      Inkscape
    and
    %a{href: "http://gimp.org", title:"GIMP"}
      GIMP
  %img{src:"images/gimp.jpg", alt: "GIMP"}