#sidebar
  %ul
    %li
      %a{href: "https://github.com/picandocodigo", title: "Github"}
        %img{src: "images/github.png", alt: "Github"}
    %li
      %a{href: "http://speakerdeck.com/picandocodigo", title: "Speaker Deck"}
        %img{src: "images/speakerdeck.png", alt: "Speaker Deck"}
    %li
      %a{href: "http://lanyrd.com/profile/picandocodigo/", title: "Lanyrd"}
        %img{src: "images/lanyrd.png", alt: "Lanyrd"}
    %li
      %a{href: "http://coderwall.com/picandocodigo", title: "Coderwall"}
        %img{src: "images/coderwall.png", alt: "Coderwall"}
    %li
      %a{href: "http://www.linkedin.com/in/fernandobriano", title: "LinkedIn"}
        %img{src: "images/linkedin.png", alt: "LinkedIn"}
    %li
      %a{href: "http://careers.stackoverflow.com/picandocodigo", title: "StackOverflow Careers"}
        %img{src: "images/careers.png", alt: "StackOverflow Careers"}
    %li
      %a{href: "http://profiles.wordpress.org/users/fernandobt/",title: "WordPress.org"}
        %img{src: "images/wordpress.png", alt: "WordPress.org"}
    %li
      %a{href: "http://twitter.com/picandocodigo", title: "Twitter"}
        %img{src: "images/twitter.png", alt: "Twitter"}
    %li
      %a{href: "http://identi.ca/picandocodigo", title: "Identi.ca"}
        %img{src: "images/identica.png", alt: "Identica", title: "Identica"}
    %li
      %a{href: "http://www.last.fm/user/picandocodigo", title: "Last.fm"}
        %img{src: "images/lastfm.png", alt: "Last.fm"}
  .center_text
    %a{href: "http://www.fsf.org/register_form?referrer=6661", title: "FSF Associate Member"}
      %img{src: "images/fsf-6661.png", alt: "[FSF Associate Member]"}
    %p
      %img{src: "images/gnu-linux.jpg", alt: "Gnu/Linux"}
