%h1 Acerca de este sitio
%p
  Este sitio es como un sandbox para practicar cosas con tecnologías web. Empezó siendo un sitio
  %strong
    %a{:href=> "http://rubyonrails.org/", class: "tachado"} Rails
  \. Pero usar Rails no tenía sentido, así que pasó a ser un sitio hecho con
  %a{href: "http://www.sinatrarb.com", title: "Sinatra"} Sinatra
  +
  %a{href: "http://haml.info/", title: "Haml"} Haml
  +
  %a{href: "http://sass-lang.com/", title: "Sass"} Sass
  \.
  
%p
  Del desarrollo de otros sitios casi estáticos con las tecnologías mencionadas surgió
  %a{href: "https://github.com/picandocodigo/frankspace", title: "Frankspace"}Frankspace
  , un esqueleto de sitios web con Sinatra + Haml + Sass + i18n. De a poco voy a ir migrando esta página a lo que tengo ahí, y agregando alguna cosa más.

%p
  Algunos &iacute;conos por: 
  %a{title: "Yusuke Kamiyamane", href: "http://p.yusukekamiyamane.com/"}Yusuke Kamiyamane
