%h1= t.general.contact
%form{action: "", method: "post", class: "pure-form pure-form-aligned"}
  %fieldset

    .pure-control-group
    %label{for: "name"}=t.contact.name
    %input{type: "text", name: "name"}

    .pure-control-group
    %label{for: "mail"}=t.contact.email
    %input{type: "text", name: "mail"}

    .pure-control-group
    %label{for: "body"}=t.contact.message
    %textarea{name: "body"}

    .pure-controls
    %button{type: "submit", class: "pure-button"}
      = t.contact.send_msg
