@import 'pure-min';
$radius: 15px;
body {
  font: {
    size: 14px;
		family: 14px/21px "Georgia", serif;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #363;
  &:visited {
      color: #696;
  }
}

#header{
  h1{
      padding: 0;
      margin: 20px 20px 0 20px;
  }
}

.der{
  float: right;
  margin-left: 10px;
}

.izq{
  float: left;
  margin-right: 10px;
}

.tachado{
  text-decoration:line-through;
}

#info{
  padding: 20px 20px 20px 40px;
  border-radius: $radius;
}

#sidebar{
  padding: 20px;
  font-family: Courier;
  ul{
    margin: 0;
  }
  li{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    display: inline;
  }
  #fernando{
      width: 100%;
      height: 100%;
      position: relative;
  }
}

#right_sidebar{
    padding: 20px;
    text-align: center;
}

#footer{
    font-size: 10px;
    padding: 20px;
    text-align: center;
}

.clear{
    clear: both;
}

.star-holder{
  display: none;
}


.center_text{
    text-align: center;
}

.github{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 99;
}

ul.blogs{
  padding-bottom: 20px;
}