!!!
%html
  %head
    %link{rel: 'stylesheet', href: '/css/style.css', type: 'text/css'}
    %link{rel: 'icon', type: 'image/png', href: '/images/favicon.png'}
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}
    %title
      Fernando Briano
  %body
    .grid
      .col-1-2
        %h1 Fernando Briano
      .col-1-2
        = partial 'languages', locals: {lang: lang}
      .col-1-1
        = partial 'contact'
      = yield
      #footer
        =tag :img, src: "/images/pc.png", class: "left"
        Last generated:
        =time
      / If you're looking at this code, you should know what to do to display this:
      #konami.hidden
        -4.times do
          =tag :img, src: "/images/contra-lives.png"
      %script{type: 'text/javascript', src: '/js/all.js'}

