<h1>Acerca de este sitio</h1>
<p>Este sitio es como un sandbox para practicar con <strong><a href="http://rubyonrails.org/">Rails</a></strong> <%= image_tag("ror-logo-16.png", :alt => "Ruby On Rails")%> y alguna otra tecnolog&iacute;a web. As&iacute; que ir&aacute; evolucionando con el tiempo.</p>
<p>Por ahora tengo algunas ideas para ir implementando:</p>
<ul>
	<li><strong>i18n</strong> - Estudiar el funcionamiento de la internacionalizaci&oacute;n en Rails para tener una versi&oacute;n en ingl&eacute;s del sitio.</li>
	<li><strong><a href="http://jquery.com/" title="jQuery">jQuery</a></strong> - Hace mucho que no uso jQuery, as&iacute; que voy a aprovechar a implementar algunas cosas con este framework para practicar un poco.</li>
</ul>

Algunos &iacute;conos por: <%= link_to "Yusuke Kamiyamane", "http://p.yusukekamiyamane.com/" %>.