%h1 Contacto</h1>
Distintas formas de contactarme:
%ul
  %li
    %strong Correo electr&oacute;nico
    \: fernando [a] picandocodigo.net
  %li
    %strong Twitter
    \: @picandocodigo
  %li
    %strong Identi.ca
    \: @picandocodigo

Pr&oacute;ximamente Formulario de contacto :P
