<h1>Contacto</h1>
Distintas formas de contactarme:
<ul>
	<li><strong>Correo electr&oacute;nico</strong>: mail [a] fernandobriano.com</li>
	<li><strong>Twitter</strong>: @picandocodigo</li>
	<li><strong>Identi.ca</strong>: @picandocodigo</li>
</ul>

Pr&oacute;ximamente Formulario de contacto :P