<p>Soy programador, actualmente viviendo en Montevideo, Uruguay.</p>
<p>He trabajado bastante con <strong>Java</strong> en ambientes con Java EE y Spring. También he hecho un poco de administraci&oacute;n de servidores JBoss y Tomcat. También he usado <strong>PHP</strong> y algo de JavaScript, aunque tengo pendiente conocer bien <strong>jQuery</strong> o alg&uacute;n otro framework del lenguaje.</p>

<p>Me gustan mucho <strong>Ruby</strong> y <strong>Rails</strong>, tecnolog&iacute;as que vengo observando desde hace un buen tiempo.</p>

<p>En alg&uacute;n momento trabaj&eacute; con .net, pero hay cosas que es mejor olvidarlas... </p>

<p>Uno de mis proyectos es <strong><%= link_to "Picando Código", "http://picandocodigo.net" %></strong> - mi blog personal - donde escribo, opino e investigo sobre programación, tecnología, y otros temas que me interesan.</p>

<p>Me gusta usar metodologías ágiles de desarrollo en el trabajo, particularmente <strong>Scrum</strong>. Soy <%= link_to "Scrum Master Certificado", "http://www.scrumalliance.org/profiles/57998-fernando-briano" %>, y cuando hay tiempo escribo en <%= link_to "Aplicando Scrum", "http://aplicandoscrum.com" %>, un blog sobre Scrum y metodologías ágiles.</p>

<p>Otro de mis proyectos dentro y fuera de la web es <%= link_to "Entropía Records", "http://entropiarecords.com" %>, sello discogr&aacute;fico independiente y productora "Entrop&iacute;a".</p> 
<div class='gen_menu'>
	<ul>
		<li>
			<a href="http://stackoverflow.com/users/1492/fernando">
				<img src="http://stackoverflow.com/users/flair/1492.png" width="208" height="58" alt="profile for Fernando at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Fernando at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
			</a>
		</li>
		<li>
			<a href="http://wordpress.stackexchange.com/users/298/fernando">
				<img src="http://wordpress.stackexchange.com/users/flair/298.png" width="208" height="58" alt="profile for Fernando at WordPress, Q&amp;A for WordPress developers and administrators" title="profile for Fernando at WordPress, Q&amp;A for WordPress developers and administrators">
			</a>
		</li>
	</ul>
</div>


