/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$radius: 15px;
$block_bg: #ccdbbc;
$cont_bg: #DFF2B8;

html{
  height: 100%;
}

body {
  background: 0px 150px #4c6f15 url('fondo.png') repeat;
  margin: 0;
  padding: 0;
  font: {
    size: 12px;
    family:  Arial, Helvetica, sans-serif;
  }
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #1D2B08;
  &:visited { 
    color: #4c6f15;
    font-weight: bold;
  }
}

#header{
  background: #1D2B08;
  width: 100%;
  height: 125px;
  color: #84c225;
  h1{
      color: #fff;
  }
  .der{
    width: 300px;
    font-size: 12px;
    text-align: right;
    margin: 20px;
  }
  .izq{
    margin: 20px;
  }
}

.der{
  float: right;
  margin-left: 10px;
}

.izq{
  float: left;
  margin-right: 10px;
}

.menu{
  background: #b7b5b3;
  width: 100%;
  li{
    height: 30px;
    z-index:100;
    text-align: center;
    font-weight: bold;
    margin-right: 40px;
    img{
      vertical-align:text-bottom;
    }
  }
}

.gen_menu{
  margin: 0;
  clear: both;
  overflow: hidden;
  li{
   display: inline;
    float: left;
    list-style: none;
    padding-right: 20px;
  }
}

#container{
  width: 900px;
  background: #7FA34B;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}

#info{
  margin: 20px;
  padding: 20px;
  background: $cont_bg;
  float: left;
  width: 688px;
  border-radius: $radius;
}

#sidebar{
  margin: 20px;
  float: left;
  width: 72px;
  background: #ccdbbc;
  font-family: Courier;
  border-radius: $radius;
  ul{
    margin: 0;
    padding: 20px;
  }
  li{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
}

.clear{
    clear: both;
}

/* WordPress plugins */
.wp-plugin ul{
  display: inline;
  clear: both;
  li li{
    list-style: circle;
    margin-left: 20px;
  }
}

.wp_plugin_div{
  float:left;
  background: $block_bg;
  width: 280px;
  margin: 10px;
  padding: 10px;
  list-style: none;
  height: 200px;
  border-radius: $radius;
}

.star-holder{
  display: none;
}


.info-marker{
  font-weight: bold;
}

.twitter_pic{
  float: right;
}

.tweets{
  overflow: hidden;
  border-radius: $radius;
  li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    &.odd {
      background: $block_bg;
    }
    &.even {
      background: darken($block_bg, 10%);
    }
  }
}

/*#rubyconfuy_ribbon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  }*/