/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html{
	height: 100%;
}

body {
	 background: #e4dad4 url("fondo.jpg") no-repeat;
	 margin: 0;
	 padding: 0;
	 font-size: 12px;
	 height: 100%;
}

#header{
	background: #c2b8b2;
	width: 100%;
	height: 125px;
}

.der{
	float: right;
}

.izq{
	float: left;
}

#header .der{
	width: 300px;
	font-size: 12px;
	text-align: right;
	margin: 20px;
}

#header .izq{
	margin: 20px;
}

.menu{
	background: #b7b5b3;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}

.menu li{
	display: inline;
	float: left;
	list-style: none;
	width: 92px;
	height: 30px;
	z-index:100;
	text-align: center;
}

.menu li:hover{
	background: #8a7a61;
}

#container{
	width: 900px;
	background: #8a7a61;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
}

#info{
	margin: 20px;
	background: #e4dad4;
	float: left;
	width: 728px;
}

#sidebar{
	margin: 20px;
	float: left;
	width: 72px;
	background: #c2b8b2;
	font-family: Courier;
}

#sidebar ul{
	margin: 0;
	padding: 20px;
}

#sidebar li{
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
}

#rubyconfuy_ribbon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}