%section.hiddable
  %h2#about
    %span{class: 'mega-octicon octicon-question'}
    = t(:about)
    %span{class: 'mega-octicon octicon-chevron-down right'}

  #speaking.unit.visible.hiddable_content
    = text(:about_content)
