.contact
  .col-1-2.contact-item
    %ul.menu
      %li
        %span{class: 'octicon octicon-octoface'}
        %a{href:'https://github.com/picandocodigo', title: "GitHub"}
          picandocodigo
      %li
        %span{class: 'genericon genericon-twitter'}
        %a{href: 'http://twitter.com/picandocodigo', title: "Twitter"}
          picandocodigo
      %li
        %span{class: 'octicon octicon-mail'}
        %a{href: 'mailto:fernando@picandocodigo.net', title: "E-mail"}
          fernando@picandocodigo.net
  .col-1-2.contact-item
    %ul.menu
      %li
        %span{class: 'octicon octicon-rss'}
          %a{href: "http://picandocodigo.net", title: "Blog"}
            Picando C&oacute;digo