.contact
  .col-1-2.contact-item
    %ul.menu
      %li
        %span{class: 'icon-github'}
        %a{href:'https://github.com/picandocodigo', title: "GitHub"}
          picandocodigo
      %li
        %span{class: 'icon-mastodon'}
        %a{href: 'https://mastodon.online/@picandocodigo', title: "Twitter"}
          picandocodigo
  .col-1-2.contact-item
    %ul.menu
      %li
        %span{class: 'icon-envelop'}
        %a{href: 'mailto:fernando@picandocodigo.net', title: "E-mail"}
          fernando@picandocodigo.net
      %li
        %span{class: 'icon-rss'}
        %a{href: "https://picandocodigo.net", title: "Blog"}
          Blog
