#languages
  - if lang == :es
    %a{href:"/"}
      In English
    |
    %a{href:"/gd"}
      Anns a' Ghàidhlig
  - elsif lang == :en
    %a{href:"/es"}
      En Espa&ntilde;ol
    |
    %a{href:"/gd"}
      Anns a' Ghàidhlig
  - else
    %a{href:"/es"}
      En Espa&ntilde;ol
    |
    %a{href:"/"}
      In English
