%section.hiddable
  %h2#misc
    %span{class: 'mega-octicon octicon-rocket'}
    = t(:misc)
    %span{class: 'mega-octicon octicon-chevron-down right'}

  .unit.visible.hiddable_content
    = text(:misc_content)
