%section.hiddable
  %h2#speaker
    %span{class: 'icon-microhpone'}
    = t(:speaker)
    %span{class: 'icon-chevron-down right'}
  #speaking.unit.hidden.hiddable_content
    = text(:speaker_content)
