%section.hiddable
  %h2#speaker
    %span{class: 'mega-octicon octicon-podium'}
    = t(:speaker)
    %span{class: 'mega-octicon octicon-chevron-down right'}
  #speaking.unit.hidden.hiddable_content
    = text(:speaker_content)