%section.hiddable
  %h2#videogames
    %span{class: 'icon-gamepad'}
    = t(:videogames)
    %span{class: 'icon-chevron-down right'}
  #videogames.unit.hidden.hiddable_content
    = text(:videogames_content)
