%section.hiddable
  %h2#writing
    %span{class: 'icon-pencil2'}
    = t(:writing)
    %span{class: 'icon-chevron-down right'}

  -# Start hidden part
  #programming.unit.hidden.hiddable_content
    = text(:writing_content)
