%section.hiddable
  %h2#writing
    %span{class: 'mega-octicon octicon-file-code'}
    = t(:writing)
    %span{class: 'mega-octicon octicon-chevron-down right'}

  -# Start hidden part
  #programming.unit.hidden.hiddable_content
    = text(:writing_content)
