name: publish

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'
    - cron: '0 6 * * 3'
    - cron: '0 6 * * 5'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0'
    - name: Publish page
      env:
        GITHUB_AUTH_TOKEN: ${{secrets.GITHUB}}
        RUBYGEMS: picandocodigo
        WORDPRESS: fernandobt
        BLOG_FEED: https://picandocodigo.net/feed/
      run: bundle install &&
             bundle exec middleman build --verbose &&
             git config --global user.name "Fernando Briano" &&
             git config --global user.email "fernando@picandocodigo.net" &&
             git fetch &&
             git checkout -b gh-pages &&
             git branch --set-upstream-to=origin/gh-pages gh-pages &&
             git reset --hard origin/gh-pages &&
             cp build/* . -r &&
             git add . &&
             git commit -m "`date` Updates gh-pages" &&
             git push --set-upstream origin gh-pages
